body {
    background-color: #596aed
}

.contact-label {
    color: #00a8e5;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    width: 120px
}

.container {
    color: white;
    height: 150px;
    width: 300px
}

.inner-container {
    align-items: center;
    background-color: #36393f;
    border-radius: 4px;
    display: flex;
    height: 150px;
    width: 300px
}

.invisible-box {
    display: flex;
    flex-direction: column;
    height: 110px;
    margin-left: 15px;
    width: 270px
}

.token-label {
    color: #b9bbbe;
    font-family: 'Secular One', sans-serif;
    font-size: 15px;
    margin-top: -1px
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#submit {
    background-color: #596aed;
    border: none;
    border-radius: 4px;
    color: #fcfdff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    height: 30px;
    margin-top: 10px;
    transition: all .1s ease-in
}

#token {
    color: #d5d6d7;
    background-color: #303339;
    border: 1px solid #222428;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    height: 25px;
    margin-top: -13px;
    outline: none;
    padding-left: 10px
}

#submit:hover {
    background-color: #4856c0;
    cursor: pointer
}
